body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    overflow-x: hidden;
    color: #707172;
    background-color: #666;
}

.aj-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding-left: 70px;
    padding-right: 70px;
    width: 400px;
    max-width: 400px;
}
.aj-bg-black-transparent {
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 991px)
{
    .aj-section-wrap {
        width: 100% !important;
    }
}

.aj-intro {
    max-width: 500px;
    width: 100%;
    padding: 55px;
    margin-right: 0;
    margin-left: auto;
}


@media (max-width: 991px)
{
    .aj-sidebar {
        width: 250px;
        left: -250px;
        padding: 15px;
    }
}
.aj-sidebar-sticky {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aj-brand-box {
    box-sizing: content-box;
    width: 100%;
    max-width: 230px;
    min-height: 160px;
    color: white;
    text-align: center;
    margin: 70px auto 90px;
}

.aj-double-border-1, .aj-double-border-2 {
    border: 1px solid #fff;
    position: relative;
}

.aj-double-border-2 {
    top: 10px;
    left: 10px;
}

.aj-brand {
    padding: 30px;
}
.aj-brand {
    font-size: 2.6rem;
}

.aj-main-nav {
    margin-bottom: 160px;
}

.aj-main-nav > li > a {
    color: white;
}
.nav-link {
    font-size: 1.25rem;
    padding-top: 12px;
    padding-bottom: 12px;
}

.aj-social-links {
    margin-bottom: 27px;
}

.aj-social-link {
    width: 40px;
    height: 40px;
    color: black;
    background-color: white;
    margin: 8px;
    border-radius: 5px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link {
    font-size: 1.25rem;
    padding-top: 12px;
    padding-bottom: 12px;
}

.small {
    font-size: 0.95rem;
}

@media (min-width: 576px)
{
    .ml-sm-auto, .mx-sm-auto {
        margin-left: auto!important;
    }
}

.parallax-window {
    min-height: 662px;
    background: url(../img/dream-pulse-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
}

.aj-section-wrap {
    width: calc(100% - 400px);
    margin-left: auto;
    margin-right: 0;
}

#intro {
    min-height: 100vh;
    max-width: none;
}
.aj-section {
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 66px 60px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}

.aj-bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
}

.aj-section-title {
    font-size: 1.6rem;
}
.aj-color-primary {
    color: #069;
}

.aj-color-gray {
    color: #333;
}
p {
    line-height: 2;
}


.aj-intro {
    max-width: 500px;
    width: 100%;
    padding: 55px;
    margin-right: 0;
    margin-left: auto;
}

.aj-section-half {
    padding: 55px;
}

.aj-section-icon {
    color: #369;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aj-section-title {
    font-size: 1.6rem;
}

.aj-box-pad {
    padding: 50px 55px;
}
.aj-border-gray {
    border-color: #cdcecf;
}
.aj-double-border-2 {
    top: 10px;
    left: 10px;
}

.gallery-area {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: #98999a;
    border-radius: 50%;
}

.section-paddings {
    padding-left: 50px;
    padding-right: 50px;
}

.aj-w-80 {
    max-width: 80%;
}

.client-img {
    padding: 10px;
}
.client-img a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: 240px;
    height: 120px;
}

.client-imgs {
    max-width: 1040px;
}

.contact-form-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form {
    max-width: 305px;
    width: 100%;
}



.form-group {
    margin-bottom: 40px;
}


.aj-btn-primary {
    color: #707172;
    border-bottom: 1px solid #cdcecf;
    padding: 10px 18px;
    position: relative;
}

.aj-footer-link {
    color: white;
    text-decoration: none;
}